@page
@model YourCare_Application.Pages.AboutModel
@{
    Layout = null;
}

<link rel="stylesheet" href="./css/about.css" asp-append-version="true" />

<div class="main-context">
    <div class="context">
        <div class="context-text">
            <h1>
                <a asp-page="/Index">YourCare</a>
            </h1>
            <h3>Chúng tôi xây dựng nền tảng y tế thông minh với sứ mệnh rút ngắn khoảng cách giữa Bệnh nhân, Bác sĩ và các Cơ sở y tế</h3>
        </div>

        <div class="context-product">
            <section id="product">
                <div class="product-container">
                    <div class="product">
                        <img src="./assets//img/svg/dartboard.svg" />
                        <h2>Tìm chính xác</h2>
                        <p>Thông tin về phòng khám và bác sĩ luôn được cập nhật chính xác bởi đội ngũ chuyên nghiệp của YourCare. Bạn hoàn toàn có thể yên tâm tự nghiên cứu, đánh giá và đưa ra sự lựa chọn bác sĩ phù hợp với tình hình bệnh án của mình mà không cần phải mất nhiều thời gian.</p>
                    </div>
                    <div class="product">
                        <img src="./assets//img/svg/medical-appointment.svg" />
                        <h2>Đặt lịch khám dễ dàng</h2>
                        <p> Chỉ với vài thao tác đơn giản, bạn có thể đặt lịch khám Online một cách nhanh chóng mà không cần phải gọi điện hoặc lo lắng rằng không có thông tin liên lạc của Bác sĩ.</p>
                    </div>
                    <div class="product">
                        <img src="./assets//img/svg/star.svg" />
                        <h2>Tái khám thuận tiện</h2>
                        <p>YourCare sẽ giúp hỗ trợ nhắc nhở khi đến thời gian tái khám. Bạn hoàn toàn có thể yên tâm tin tưởng chọn lựa YourCare trở thành cầu nối để việc khám bệnh trở nên thuận tiện và hiệu quả hơn bao giờ hết.</p>
                    </div>
                    <div class="product">
                        <img src="./assets//img/svg/news.svg" />
                        <h2>Thông tin y tế chính thống</h2>
                        <p>Trang thông tin sức khỏe chính thống và hữu ích hàng đầu Việt Nam. Toàn bộ nội dung được biên soạn bởi đội ngũ Bác sĩ, Dược sĩ nhằm mục đích cung cấp kiến thức y khoa chính thống cho cộng đồng.</p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<div class="area">
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>