@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<div class="error-container">
    <h1 class="error-code">404</h1>
    <h2 class="text-danger">Page Not Found - Không tìm thấy trang</h2>
    <p class="lead">Oops! The page you're looking for doesn't exist.</p>
    <p class="lead">Oops! Nội dung bạn đang tìm kiếm không tồn tại hoặc đã bị xóa.</p>
    <a href="/" class="btn btn-danger mt-3">Go Back Home | Trang chủ</a>
</div>



