@page
@model             CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<h1>
    Create 
</h1>

<h4>Specialization</h4>
<hr />
<div class="row">
    <div class="col-md-5">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3 form-group d-flex justify-content-between ">
                <div style="width: 150px; height: 150px; border: 1px solid #ddd; padding: 2px; border-radius: 10px;">
                    <img id="previewImage" style="width: 100%" src="#" alt="image" />
                </div>
                <div>
                    <label asp-for="Input.ImageFile" class="control-label"></label>
                    <input id="fileInput" type="file" asp-for="Input.ImageFile" class="form-control" />
                    <span asp-validation-for="Input.ImageFile" class="text-danger"></span>
                </div>
            </div>

            <div class="mb-3 form-group">
                <label asp-for="Input.Name" class="control-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            
            <div class="mb-3 form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<a class="btn btn-primary" asp-page="Index">Back to List</a>

@* 
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@

<script>
    document.getElementById('fileInput').addEventListener('change', function (event) {
        const file = event.target.files[0]; // Get the first file from the input

        if (file) {
            const reader = new FileReader(); // Create a FileReader object

            reader.onload = function (e) {
                const previewImage = document.getElementById('previewImage');
                previewImage.src = e.target.result; // Set the image src to the loaded data
            };

            reader.readAsDataURL(file); // Read the file as a Data URL
        }
    });
</script>
