@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "404 Not Found";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">The resources you're looking for does not exist or have been deleted.</p>
</header>
